<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->


<!--<gas-layout>-->
<!--  <div class="w-100-p h-600">-->
<!--    hello-->
<!--  </div>-->
<!--</gas-layout>-->


<gas-layout title="hello">
  <div class="grid grid-justify-center" title="hello">
<!--    <div class="col-1">-->
<!--      <gas-card class="h-300 mr-md">Content 1</gas-card>-->
<!--    </div>-->

    <div class="col-4">
      <div style="padding: 48px;">
<!--        <gas-card class="h-600 ">-->
          <gas-card class="h-auto" style=" box-shadow: black">
            <div class="mt-lg mb-md pb-md">
              ЦИФРОВАЯ ПЛАТФОРМА
            </div>
            <gas-input
              label="Пользователь"
              infoIcon
              required
              placeholder="Введите логин"
              class="mb-sm"
              style=" padding-left: 48px; padding-right: 48px;">
            </gas-input>
            <gas-input
              label="Пароль"
              infoIcon required
              placeholder="Введите пароль"
              style="padding-left: 48px; padding-right: 48px; padding-bottom: 48px">
            </gas-input>
            <gas-checkbox style="padding-left: 48px; padding-right: 48px; padding-bottom: 48px">
              Оставаться в системе
            </gas-checkbox>
          </gas-card>
<!--        </gas-card>-->
      </div>
    </div>
<!--    <div class="col-1">-->
<!--      <gas-card class="h-300">Content 3</gas-card>-->
<!--    </div>-->
  </div>
</gas-layout>

<!--<ng-template #top>-->
<!--  <div class="pa-md">Content top</div>-->
<!--</ng-template>-->

<!--<ng-template #headerBottom>-->
<!--  <div>Header bottom component</div>-->
<!--</ng-template>-->

<!--<ng-template #bottom>-->
<!--  <div class="pa-md">Content bot</div>-->
<!--</ng-template>-->


