<!--<div class="grid h-99"></div>-->
  <!-- странно, когда меньше 100 - не работает -->
<div class="grid grid-justify-center">
  <div class="col-9 ">
    <div class="grid grid-justify-center">
      <div class="col-6">
        <div style="padding: 48px;">

          <gas-card class="" style=" box-shadow: black; ">

            <div class="mb-sm pb-md">
              <img class="my-img" src="../../assets/images/logo1.PNG" alt="">
              <p title="Выше должно быть лого" style="font-weight: bold; font-family: 'PT Sans',sans-serif">ЦИФРОВАЯ ПЛАТФОРМА</p>
            </div>
            <gas-input
              label="Пользователь"
              required
              placeholder="Введите логин"
              class="mb-sm"
              style=" padding-left: 48px; padding-right: 48px;">
            </gas-input>
            <gas-input
              label="Пароль"
              required
              placeholder="Введите пароль"
              style="padding-left: 48px; padding-right: 48px;"
              postfixIcon="cool-show"
              [nativeType]="ps"
              class="pb-lg">
            </gas-input>

            <gas-checkbox style="padding-left: 48px; padding-right: 48px; font-family: 'PT Sans', sans-serif;" class="pb-md">
              Оставаться в системе
            </gas-checkbox>

            <div style="padding-left: 30px; padding-right: 48px">

              <div class="grid grid-align-center" style="padding-bottom: 48px;">
                <div class="col-8 grid-justify-start ">
                  <div class="pb-md" style="">
                    <gas-switch (press)="disabl()" (click)="disabl()" [value]="mark1" class="my-input pb-md" enabledText=" " disabledText=" " style="font-family: 'PT Sans',sans-serif;">
                      Рабочий
                    </gas-switch>
                  </div>
                  <gas-switch (press)="disabl()" (click)="disabl()" [value]="mark2" enabledText=" " disabledText=" " style="font-family: 'PT Sans',sans-serif;">
                    Тренировачный
                  </gas-switch>
                </div>
                <div class="col-4">
                  <div class="grid">
                    <div class="col">
                      <div gasButton="primary">Авторизоваться</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </gas-card>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="link-normal" style="text-align: center;">
    <p>Справочная информация &nbsp;&nbsp;&nbsp; Служба поддержки</p>
  </div>
  <div class="text-placeholder" style="text-align: center;">
    <p>Версия сборки x.x.xxxx</p>
  </div>
</div>


<!--<gas-layout>-->
<!--  <div class="w-100-p h-600">-->
<!--    Layout-->
<!--  </div>-->
<!--</gas-layout>-->





