<!--<gas-header setTitle="setTitle"></gas-header>-->
<gas-layout>
<!--  <gas-panel-->
<!--    title="Рабочий стол">-->
<!--&lt;!&ndash;    <div class="grid grid-justify-center">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col">asdasdasdasdasdasd</div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col">2</div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </gas-panel>-->

<!--  <gas-panel title="Рабочий стол">-->
<!--  </gas-panel>-->


  <gas-card style="display:-ms-flexbox; display:flex; height: 80vh;">
    <div style="padding: 19px;">
      <p class="main_page_lyt">Рабочий стол</p>
    </div>

    <div class="grid grid-justify-start under_main_page_lyt">

      <div class="col">
        <div style="padding: 0px 0px 16px 0px;">
          <gas-card  style="margin: 0px 8px 0px 16px; padding: 31px 16px 31px 8px; ">
            <div style="padding: 0px 0px 0px 16px;">
              <div class="grid">
                <div class="col-11 grid-justify-start grid-align-end">Утверждение</div>
                <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
              </div>
            </div>
          </gas-card>
        </div>

        <gas-card  style="margin: 0px 8px 0px 16px; padding: 31px 16px 31px 8px; ">
          <div style="padding: 0px 0px 0px 16px;">
            <div class="grid">
              <div class="col-11 grid-justify-start grid-align-end">
                Подсистема экспорта ИНП
              </div>
              <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
            </div>
          </div>
        </gas-card>
      </div>


      <div class="col">
        <div style="padding: 0px 0px 16px 0px;">
          <gas-card style="margin: 0px 16px 0px 8px; padding: 31px 8px 31px 8px; ">
            <div style="padding: 0px 0px 0px 16px;">
              <div class="grid">
                <div class="col-11 grid-justify-start">Промотр дат</div>
                <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
              </div>
            </div>
          </gas-card>
        </div>

        <gas-card style="margin: 0px 16px 0px 8px; padding: 31px 8px 31px 8px; ">
          <div style="padding: 0px 0px 0px 16px;">
            <div class="grid">
              <div class="col-11 grid-justify-start grid-align-end">
                Просмотр событий
              </div>
              <gas-icon icon color="#4192d9" name="cool-circle-right"></gas-icon>
            </div>
          </div>
        </gas-card>
      </div>



    </div>




<!--    <div class="grid grid-justify-center">-->
<!--      <div class="col">-->
<!--        <div style="padding: 16px 8px 8px 16px;">-->
<!--          <gas-panel title="Утверждение" buttonText="Назад">-->
<!--          </gas-panel>-->
<!--        </div>-->
<!--        <div style="padding: 8px 8px 16px 16px;">-->
<!--          <gas-panel title="Подсистема экспорта ИНП" buttonText="Назад">-->
<!--          </gas-panel>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div style="padding: 16px 16px 8px 8px;">-->
<!--          <gas-panel title="Просмотр дат" buttonText="Назад">-->
<!--          </gas-panel>-->
<!--        </div>-->
<!--        <div style="padding: 8px 16px 16px 8px;">-->
<!--          <gas-panel title="Просмотр событий" buttonText="Назад">-->
<!--          </gas-panel>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </gas-card>

<!--  <div class="w-100-p h-600">-->
<!--    Layout-->
<!--  </div>-->
</gas-layout>

